<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{data.title}}</title>
    <link rel="stylesheet" href="./assets/blog.css" />
    <link rel="stylesheet" href="./assets/entry.css" />
    <link rel="stylesheet" href="./assets/highlight.css" />
</head>
<body>
<div class="main">
    <a class="back" href="./">MZhou's blog</a>
    <div class="entry">
        {{{data.content}}}
    </div>

    <div class="info">
        <h1>{{blogTitle}}</h1>
        <p>
            <a href="https://github.com/zmmbreeze" target="_blank">zmmbreeze</a> / <a href="https://twitter.com/zhoumm">@zhoumm</a>
        </p>
        <p>{{data.birthtime}}</p>
    </div>
</div>
</body>
</html>
