<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{data.title}}</title>
    <meta name ="viewport" content ="initial-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="./assets/blog.css" />
    <link rel="stylesheet" href="./assets/entry.css" />
    <link rel="stylesheet" href="./assets/highlight.css" />
</head>
<body>
<div class="main">
    <a class="back" href="./">MZhou's blog</a>
    <div class="entry">
        {{{data.content}}}
    </div>

    <div class="info">
        <h1>{{blogTitle}}</h1>
        <p>
            <a href="https://github.com/zmmbreeze" target="_blank">zmmbreeze</a> / <a href="https://twitter.com/zhoumm">@zhoumm</a>
        </p>
    </div>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MP42BH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MP42BH');</script>
    <!-- End Google Tag Manager -->
</div>
</body>
</html>
