<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{blogTitle}}</title>
    <meta name ="viewport" content ="initial-scale=1, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="./assets/index.css" />
</head>
<body>
<div class="main">
    <div class="info">
        <h1>{{blogTitle}}</h1>
        <p>
            <a href="https://github.com/zmmbreeze" target="_blank">zmmbreeze</a> / <a href="https://twitter.com/zhoumm">@zhoumm</a>
        </p>
    </div>

    <ul class="list">
        {{#all}}
        <li><a href="{{destpath}}">{{title}}</a></li>
        {{/all}}
    </ul>

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MP42BH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MP42BH');</script>
    <!-- End Google Tag Manager -->

    <!-- QiDianDA -->
    <script>
    (function(w, a, m){m='__qq_qidian_da';w[m]=a;w[a]=w[a]||function(){(w[a][m]=w[a][m]||[]).push(arguments);};})(window,'qidianDA');
    qidianDA('create', '2852199351', '9e0066c38c3d55cce7a2b8153606b9b3', {
        mtaId: '500581680'
    });
    qidianDA('set', 't1', new Date());
    </script>
    <script async src="//bqq.gtimg.com/da/i.js"></script>
    <!-- End QiDianDA -->
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script>
    (function(w, a, m){m='__qq_qidian_da';w[m]=a;w[a]=w[a]||function(){(w[a][m]=w[a][m]||[]).push(arguments);};})(window,'qidianDA');
    qidianDA('plugin', 'share', {
        wxAppid: 'wx6126361218c33551',
        wxComponentAppid: 'wxa15b1b974c057af4'
    });
    </script>
</div>
</body>
</html>
