<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>MZhou's blog</title>
    <link rel="stylesheet" href="./assets/index.css" />
    <link rel="stylesheet" href="./assets/entry.css" />
    <link rel="stylesheet" href="./assets/highlight.css" />
</head>
<body>
    <div class="entry">
        {{{data.content}}}
    </div>
    <div class="date">
        {{data.mtime}} @MZhou
    </div>
    <div class="others">
        {{#all}}
        <a href="{{destpath}}">{{filename}}</a>
        {{/all}}
    </div>
</body>
</html>
