@font-face {
    font-family: 'sourcehansans';
    src: url('./font/sourcehansans.eot');
    src:
        url('./font/sourcehansans.eot?#font-spider') format('embedded-opentype'),
        url('./font/sourcehansans.woff') format('woff'),
        url('./font/sourcehansans.ttf') format('truetype'),
        url('./font/sourcehansans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notoserif';
    src: url('./font/notoserif.eot');
    src:
        url('./font/notoserif.eot?#font-spider') format('embedded-opentype'),
        url('./font/notoserif.woff') format('woff'),
        url('./font/notoserif.ttf') format('truetype'),
        url('./font/notoserif.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #424B50;
    font: 20px/1.6 "notoserif","Helvetica Neue",Arial,"sourcehansans","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Wenquanyi Micro Hei",sans-serif;
    background-color: #656D78;
}

.main {
    overflow: hidden;
    background: #FFF;
}

.info {
    margin: 3em auto 0;
    padding: 3em 0;
    color: #FFF;
    font-size: 16px;
    background-color: #656D78;
}
.info p,
.info h1 {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 800px;
    font-size: 16px;
}
.info a {
    color: #FFF;
}

.back {
    position: fixed;
    top: 92px;
    left: -21px;
    width: 160px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
    background-color: #656D78;
    transform: rotate(-45deg);
    transform-origin: left top;
}


.entry h1 {
    margin-top: 120px !important;
}


