@font-face {
    font-family: 'sourcehansans';
    src: url('./font/sourcehansans.eot');
    src:
        url('./font/sourcehansans.eot?#font-spider') format('embedded-opentype'),
        url('./font/sourcehansans.woff') format('woff'),
        url('./font/sourcehansans.ttf') format('truetype'),
        url('./font/sourcehansans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'notoserif';
    src: url('./font/notoserif.eot');
    src:
        url('./font/notoserif.eot?#font-spider') format('embedded-opentype'),
        url('./font/notoserif.woff') format('woff'),
        url('./font/notoserif.ttf') format('truetype'),
        url('./font/notoserif.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: #424B50;
    font-family: "notoserif","Helvetica Neue",Arial,"sourcehansans","Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei","Wenquanyi Micro Hei",sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

.main {
    margin: 0 auto auto;
    max-width: 800px;
    padding: 0 20px;
}
a {
    color: #4A89DC;
    text-decoration: none;
    /*
    text-shadow: .03em 0 #FFF,-.03em 0 #FFF,0 .03em #FFF,0 -.03em #FFF,.06em 0 #FFF,-.06em 0 #FFF,.09em 0 #FFF,-.09em 0 #FFF,.12em 0 #FFF,-.12em 0 #FFF,.15em 0 #FFF,-.15em 0 #FFF;
    background-image: linear-gradient(#FFF 50%, currentColor 50%);
    background-repeat: repeat-x;
    background-position: 0 1.2em;
    background-size: 1px 1px;
    */
}


.info {
    margin: 120px 0 5em 0;
    font-size: .8em;
}
.info h1 {
    margin: 0;
    font-size: 2em;
}
.info p {
    margin: 0;
}
.info a {
    color: #656D78;
}

.list {
    margin: 1em 0;
    padding: 0;
}
.list li {
    list-style: none;
    font-size: 32px;
}
.list li::before {
    content: '- ';
}
.list small {
    display: block;
    margin-left: 1em;
    font-size: 14px;
    color: #CCC;
}

